nav {
  color: black;
}

li,
ul {
  display: flex;
  margin: 10px;
}
div {
  width: auto;
}
li {
  color: white;
  padding-left: 20px;
  margin: 20px;
}
a:hover {
  color: red;
}
.a {
  margin-left: 65%;
}
h2 {
  text-align: center;
}
p,
div {
  display: inline-block;
  text-align: justify;
  width: 1450px;
  margin-left: 20px;
}
.profile {
  width: 200px;
  border: 1px black solid;
  border-radius: 500px;
}
p {
  text-align: center;
}
